@font-face {
  font-family: "Manser";
  src: url("./src/fonts/MN.ttf");
}
@font-face {
  font-family: "ManserT";
  src: url("./src/fonts/MN-Thick.ttf");
}
body {
  background: #ffffff;
  font: 16px;
  font-family: Manser;
  font-weight: 500;
  color: #121214ec;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

ul.menu {
  background: #f4e8fa;
  overflow: auto;
  position: relative;
  margin: 0;
  list-style-type: none;
  padding: 0 10% 0 105;
}

ul.menu li img {
  height: 30px;
  text-decoration: none;
  float: left;
  padding: 1.5em 3em 0 5em;
}

ul.menu li a {
  text-decoration: none;
  float: left;
  color: black;
  font-weight: 700;
  font-size: 1.5em;
  padding: 1em;
}

ul.menu a:hover {
  background-color: #352d3a;
  border-radius: 0 0 30% 30%;
  color: rgb(255, 255, 255);
}

ul.menu .breed {
  color: #f6bf75;
}

ul.menu .breed:hover {
  background-color: #ffffff;
  border-radius: 0 0 30% 30%;
  color: #fa7900;
}

/* Right Navigation css */
/* ul.menu li a.fl-right {
  text-decoration: none;
  float: right;
  color: red;
  font-weight: 100;
  font-size: 1.7em;
  padding: 1em 1.5em 0 0;
  border-bottom: solid 3px;
} */

main {
  height: 70vh;
}

section#one {
  margin-top: 4em;
  background: url(./src/image/SectiononeBG.png);
  background-size: cover;
  background-position: top left;
  /* border: solid 1px; */
}

section#one .topic {
  font-size: 2em;
  text-align: center;
  color: rgb(167, 167, 167);
  list-style-type: none;
}

.box {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
  text-align: center;
  /* border: solid 1px; */
}

.content {
  border-radius: 2em;
  margin: 0.5em;
  padding: 60px 90px;
  /* border: solid 1px; */
}

.br-content {
  border-radius: 2em;
  margin: 0.5em;
}

.content p {
  color: rgb(109, 108, 108);
  font-size: 1.4em;
}

.content img {
  width: 100px;
}

section#two {
  margin-top: 8em;
}

section#two p {
  text-align: center;
}

section#two .topic {
  font-size: 2em;
  color: rgb(153, 37, 37);
  list-style-type: none;
}

.boxin {
  font-family: ManserT;
  display: flex;
  justify-content: center;
  flex-direction: row;
  /* border: solid 1px; */
}

.contentin {
  margin: 2em;
  border-radius: 2em;
  width: 550px;
  height: 190px;
  border-bottom: 1px solid #928c8c;
  border-top: solid 1px #ebe6e6;
  border-right: solid 1px #d3c6c6;
}

.contentin img {
  margin-top: 3em;
  margin-left: 3em;
  float: left;
  height: 100px;
  border-radius: 100px;
}
.contentin p {
  margin-left: 8em;
  font-size: 1.3em;
  text-align: left;
}

.name {
  margin-top: 3em;
}

section#one-breed ul {
  list-style: none;
  margin: 5em 0 0 30em;
}

section#one-breed .topic {
  color: #352d3a;
  font-size: 2em;
}

section#one-breed .subtopic {
  color: #746a7a;
  font-size: 1.4em;
}

section#one-breed .subtopicen {
  font-size: 1.3em;
}

section#one-breed .box .br-content img {
  height: 230px;
}

section#one-breed .box .br-content p {
  font-size: 1em;
}

section#one-breed .page {
  color: #4b4c4d;
  text-align: center;
  padding-top: 30px;
}

section#one-breed .page a {
  font-size: 18px;
  width: 25px;
  height: 25px;
  display: inline-block;
  text-align: center;
  margin: 0 5px;
  color: inherit;
  opacity: 0.75;
}

section#one-breed .page a:hover {
  border-radius: 50%;
  color: #ffffff;
  background-color: #4b4c4d;
  opacity: 1;
}

.footer {
  background: url(./src/image/TeenMeowNubRalw.png);
  background-size: cover;
  background-position: bottom right;
  padding: 40px 0;
  background-color: #ffffff;
  color: #4b4c4d;
}

.footer ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer li {
  padding: 0 10px;
}

.footer ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer ul a:hover {
  opacity: 1;
}

.footer .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 58px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer .social > a:hover {
  opacity: 0.9;
}

.footer .list-inline {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer .caption {
  margin-top: 15px;
  text-align: center;
  font-size: 15px;
  color: #aaa;
  margin-bottom: 0;
}

.footer .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

@media (max-width: 800px) {
  .box {
    flex-direction: column;
  }
}
