section#one .end-line {
  border: 2px solid rgb(167, 167, 167);
  margin: 3em 30% 0 30%;
}
section#one .end-lines {
  border-bottom: 2px solid rgb(36, 192, 31);
  margin: 3em 25% 3em 25%;
}
section#two .end-line {
  border: 2px solid rgb(167, 167, 167);
  margin: 5em 30% 5em 30%;
}

section#two .end-lines {
  border: 1px solid rgb(247, 244, 244);
  margin: 7em 0 0 0;
}

section#one-breed .end-lines {
  border: 1px solid rgb(167, 167, 167);
  margin: 3em 25% 0 25%;
}

footer {
  border: 1px solid rgb(247, 244, 244);
  margin: 3em 0 0 0;
}

.bg-home {
  background: url(./src/image/home.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-breeds {
  background: url(./src/image/home.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-gallery {
  background: url(./src/image/หมา.jpeg);
  background-size: cover;
  background-position: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mgt-1 {
  margin-top: 1em;
}
.mgt-2 {
  margin-top: 2em;
}
.mgt-3 {
  margin-top: 3em;
}
